@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply bg-zinc-950 text-zinc-300 scroll-smooth;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  @apply bg-zinc-500;
}

::-webkit-scrollbar-thumb {
  border-radius: 100vw;
  transition: all 500ms ease-in-out;
}

::-webkit-scrollbar-track:hover {
  background-color: #1a1a1a;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #646cfff2;
}

.content-grid {
  /* spacing variables */
  --padding-inline: 1.5rem;
  --content-max-width: 860px;
  --breakout-max-width: 1024px;
  --layout-max-width: 1280px;

  --breakout-size: calc(
    (var(--breakout-max-width) - var(--content-max-width)) / 2
  );

  display: grid;
  grid-template-columns:
    [full-width-start]
    minmax(var(--padding-inline), 1fr)
    [breakout-start]
    minmax(0, var(--breakout-size))
    [content-start]
    min(100% - (var(--padding-inline) * 2), var(--content-max-width))
    /* choosing which is smaller */
    [content-end]
    minmax(0, var(--breakout-size))
    [breakout-end]
    minmax(var(--padding-inline), 1fr)
    [full-width-end];
}
.content-grid.all {
  grid-template-rows: 4.5rem 1fr;
}
.content-grid > :not(.breakout, .full-width) {
  grid-column: content;
}
.content-grid > .breakout {
  grid-column: breakout;
}
.content-grid > .full-width {
  grid-column: full-width;
}

.flex-center {
  @apply flex justify-center items-center;
}